.main{
  display: flex;
  width: 20%;
  color: brown;

}

  #a{

    position: relative;
  left:10px;
    padding: 5px;
    background-color: rgb(101, 101, 155);
  
  }
  #x{
    color: black;
    border-style: solid;
    border-color: rgb(55, 70, 201);
  }
  #xx{
    color: black;
    border-style: solid;
    border-color:rgb(55, 70, 201);
  }
  #ffff{
    position: relative;
    color: black;
    border-style: solid;
    border-color:rgb(55, 70, 201);
  }
 

  